<span id="{{ .File.UniqueID }}" title="{{ i18n "article.visit_title" }}">
    {{- ":see_no_evil:" | markdownify | emojify -}}
</span>
<script async>
    var r = new XMLHttpRequest();
    r.addEventListener('load', function() {
        try {
            document.getElementById('{{ .File.UniqueID }}').innerText = {{ i18n "article.visit_name" | markdownify | emojify }} + JSON.parse(this.responseText).count
        }
        catch (SyntaxError) {
            document.getElementById('{{ .File.UniqueID }}').innerText = {{- ":see_no_evil:" | markdownify | emojify -}}
        }
    })
    r.open('GET', 'https://contacapre.bortox.it/counter/' + encodeURIComponent({{ .RelPermalink }}.replace(/(\/)?$/, '')) + '.json')
    r.send()
</script>
{{- /* Trim EOF */ -}}