<span id="{{ .File.UniqueID }}" title="{{ i18n "article.visit_title" }}">
    {{- ":see_no_evil:" | markdownify | emojify -}}
</span>
<script async>
    var r = new XMLHttpRequest();
    r.addEventListener('load', function() {
        document.getElementById('{{ .File.UniqueID }}').innerText = JSON.parse(this.responseText).count_unique + ' ' + {{ i18n "article.visit_name" }}
    })
    r.open('GET', 'https://bortox.goatcounter.com/counter/' + encodeURIComponent({{ .RelPermalink }}.replace(/(\/)?$/, '')) + '.json')
    r.send()
</script>
{{- /* Trim EOF */ -}}