
<button share_title="{{ .Title }}" share_description="{{ .Page.Description | truncate 140 }}" share_permalink="{{ .Page.Permalink }}" share_dialogue="Condividi '{{ .Title | truncate 40 }}'" class="sharebtn mb-2 px-1 py-[1px] border rounded-md border-neutral-200 dark:border-neutral-600 hover:border-primary-300 hover:text-primary-700 dark:hover:border-primary-600 dark:hover:text-primary-400">{{ i18n "article.share" }} <i>{{ .Title | truncate 40 }}</i> {{ ":v:" | emojify}} </button>
{{ if .Params.showAuthor | default (.Site.Params.article.showAuthor | default true) }}
  <div class="flex">
    {{ with .Site.Author.image }}
      {{ $authorImage := resources.Get . }}
      {{ if $authorImage }}
        {{ $authorImage := $authorImage.Fill "192x192" }}
        <img
          class="w-24 h-24 !mt-0 !mb-0 ltr:mr-4 rtl:ml-4 rounded-full"
          width="96"
          height="96"
          alt="{{ $.Site.Author.name | default "Author" }}"
          src="{{ $authorImage.RelPermalink }}"
        />
      {{ end }}
    {{ end }}
    <div class="place-self-center">
      {{ with .Site.Author.name | markdownify | emojify }}
        <div class="text-[0.6rem] leading-3 text-neutral-500 dark:text-neutral-400 uppercase">
          {{ i18n "author.byline_title" | markdownify | emojify }}
        </div>
        <div class="font-semibold leading-6 text-neutral-800 dark:text-neutral-300">
          {{ . }}
        </div>
      {{ end }}
      {{ with .Site.Author.bio | markdownify | emojify }}
        <div class="text-sm text-neutral-700 dark:text-neutral-400">{{ . }}</div>
      {{ end }}
      <div class="text-2xl sm:text-lg">{{ partialCached "author-links.html" . }}</div>
    </div>
  </div>
{{ end }}

<div class="mt-8 ltr:lg:pl-8 rtl:lg:pr-8">
    {{ $related := .Site.RegularPages.Related . | first 4 }}
    {{ with $related }}
    <details open>
        <summary class="mt-0 overflow-hidden rounded-lg rtl:pr-5 ltr:pl-5 rtl:-mr-5 block py-1 text-xl font-semibold cursor-pointer rtl:pr-5 ltr:pl-5 rtl:-mr-5 text-neutral-800 dark:text-neutral-100 bg-neutral-100 dark:bg-neutral-700">
        {{ i18n "article.related" }} 
        </summary>
        <ul>
        {{ range . }}
            <li class="border-solid border border-primary-600 rounded-lg mt-1 p-1 dark:border-neutral-600">
            {{ partial "article-link-related.html" . }}
            </li>
        {{ end }}
        </ul>
    </details>
    {{ end }}
</div>