<script type="module" src="/sw.js"></script>
<script>
    if('serviceWorker' in navigator) {

        /**
         * Register Service Worker
         */
        navigator.serviceWorker
            .register('/sw.js', { scope: '/' })
            .then(() => {
                console.log('Service Worker Registered');
            });

        
        /**
         * Define if <link rel='next|prev|prefetch'> should
         * be preloaded when accessing this page
         */
         const PREFETCH = true;

        /**
         * Define which link-rel's should be preloaded if enabled.
         */
        const PREFETCH_LINK_RELS = ['index','next', 'prev', 'prefetch'];

        /**
         * prefetchCache
         */
        function prefetchCache() {
            if(navigator.serviceWorker.controller) {

                var arr = [], l = document.links;
                for(var i=0; i<l.length; i++) {
                arr.push(l[i].href);
                }
                arr.forEach(element => navigator.serviceWorker.controller.postMessage({
                    action : 'cache',
                    url : element,
                }));
            }
        }
        /**
         * Wait if ServiceWorker is ready
         */
         navigator.serviceWorker
            .ready
            .then(() => {
                prefetchCache();
            });
}
</script>